*{
  box-sizing: border-box;
}
body{
  padding: 0;
  padding-top:69px ;
  padding-bottom: 40px;
  margin: 0;
  font-family: tahoma;
  background-color: black;
  color:#92A0CF
}

#header-img{
  width: 60px;
  height: 60px;
  margin: 10px;
  z-index: 10;
  border-radius: 50px;
  padding: 10px;
}

nav{
  background-color: #92A0CF;
  width: 100%;
  height: 90px;
  position: fixed;
  top:0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
   

}

nav ul{
  padding: 0px 20px;
  display: flex;
  gap: 20px;
  list-style: none;

}

li a{
  text-decoration: none;
  color: black;
  
}

li a:hover{
  background-color: black;
  color:#92A0CF;
  padding: 10px;
  border-radius: 5px;
}

#home{
  background-color: black;
  color:#92A0CF
}
h1{
  font-weight: 250px;
  text-align: center;
}


p{
  text-align: justify;
  padding: 0 30px;
}
 
.ul{
  padding-left: 70px;
} 

#video{
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}  


#Pros-Cons{
  padding-top: 60px;
}

#Pricing{
  padding-top: 30px;
}

form{
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#form-p{
  font-size: 20px;
  margin: 0;
}

#email{
  margin-left: 30px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
#submit{
  margin-left: 30px;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
}

#cu{
  font-size: 30px;
  margin:20px 20px 0 0;
}

.icons{
  padding-left: 30px;
  display: flex;
  gap: 30px;
}
.icons a{
text-decoration: none;
}

/* Big tablets and small laptops */
@media (max-width: 1024px) {
  nav ul {
    gap: 10px; /* shrink spacing */
  }
}

/* Tablets */
@media (max-width: 768px) {




  #email, #submit {
    width: 90%; /* instead of fixed 300px */
    margin-left: 0;
  }

  p {
    padding: 0 15px;
  }
}

/* Phones */
@media (max-width: 600px) {
  #header-img {
    width: 40px;
    height: 40px;
    padding: 5px;
  }
  body{
    padding-top: 70px;
    padding: 10px;

  nav{
    width: 100%;
  }
  #video{
    width: 100%;
  }

  h1 {
    font-size: 22px;
  }

  #form-p {
    font-size: 16px;
    text-align: center;
  }

  .icons {
    gap: 15px;
    justify-content: center;
    padding-left: 0;
  }
}



